@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --green: #67bf6b;
  --red: #d12f2f;
  --primary: #4b40ee;
  --black: #151515;
  --black2: #4e4e4e;
  --grey: #bdbebf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 2rem;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--black) !important;
}
.ant-tabs-ink-bar {
  border-bottom: 3px solid var(--primary);
}
